.image_about {
    width: 371px;
    margin-top:268.1px;
    margin-left: 237px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
}

.titre_about {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
    display: inline-block;
}

.content_about {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    line-height: 1.6;
}

.about {
    display: flex;
    align-items: center;
    gap: 60px;
}

.texte_about {
    max-width: 600px;
    margin-top: 279.8px;
}

.back_image {
    position: absolute;
    top: 237.9px;
    left: 200.6px;
    width: 306px;
    aspect-ratio: 306 / 248; /*// pour faire un carrée sans utiliser heifht*/
    background-color: var(--light-green-color);
    z-index: 1;
}

.soulignement_about {
     background-image: linear-gradient(to top, var(--dark-green-color) 40%, transparent 40%);
     display: inline;
    font-weight: 400;
 }

.bouton_content_about {
    font-size: 19px;
    text-align: center;
    font-weight: 300;
    margin-top: 90px;
}

.bouton_about {
    background-color: var(--dark-green-color);
    padding: 9.5px 52.5px;
    color: var(--white-color);
    margin-top: 26px;
}

.container {
    display: flex;
    justify-content: center;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .about {
        flex-direction: column;
        gap: 2rem;
    }

    .image_about,
    .back_image {
        margin-left: auto;
        margin-right: auto;
    }

    .texte_about {
        margin-top: 5vw;
    }
}
