.image_banniere {
    width: 100%;
    position: relative;
}

.items_banniere {
    display: flex;
    flex-direction: column;
    align-items: center; /* centrer les éléments */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.titre_banniere {
    position: absolute;
    font-size: 96px;
    letter-spacing: 40px;
    font-weight: 700;
    color: var(--white-color);
    top: 163.0px;  /*position du titre */
    left: 24.8%; /* centrer horizontalement */
    line-height: 10px;
    
}

.content_banniere {
    position: absolute;
    font-size: 32px;
    font-weight: 300;
    right: 602.6px;
    top: 518.0px;
    color: var(--white-color);
}

.bouton_banniere {
    position: absolute;
    background-color: var(--white-color);
    padding: 9.5px 52.5px;
    color: var(--green-color);
    top: 646.6px;
}
