.head {
    position: fixed;
    z-index: 4;
    box-shadow: 0 4px 40px var(--header-shadow-color); /* x=0, y=4px, flou=10px */;

}
 body {
     margin: 0;
     padding: 0;
     font-family: Inter, sans serif;
 }
 .head {
     background-color: var(--background-color);
     width: 100%;
 }
 main{
     padding-top: 150.5px;
 }

 .logo {
     margin-left: 23px;
 }

a.titre {
    font-size: 24px;
    text-decoration: none;
    color: var(--black-color);
    font-weight: 400;

}
 .items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.droite {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    font-size: 24px;
}

.lien {
    text-decoration: none;
    color: var(--black-color);
}

.gauche {
    display: flex;
    align-items: center;
    gap: 35px;
}

.droite>p {
    margin-right: 46px;
}

 a strong {
     font-size: 24px;
     font-weight: 400;
     margin-bottom: 20px;
 }

.soulignement {
   background-image: linear-gradient(to top, var(--dark-green-color) 40%, transparent 40%);
    display: inline;
}


 .burger {
     display: none;
     font-size: 40px;
     margin-left: auto;
     padding-left: 20px;
     padding-right: 50px;
     color: var(--green-color);
 }

 .gauche {
     display: flex;
     align-items: center;
     gap: 20px;
     flex-grow: 1;
 }

.menu_mobile {
    display: none;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 10px 20px;
}

.menu_mobile .lien {
    text-decoration: none;
    color: var(--black-color);
    padding: 10px 0;
    font-size: 20px;
}

 .menu-mobile .langue {
     font-size: 20px;
     padding-top: 10px;
     color: var(--black-color);
 }

 .langue {
     margin-right: 40px;
 }


@media screen and (max-width: 1024px) {
     .droite {
         display: none;
     }

     .burger {
         display: block;
     }
 }

@media screen and (max-width: 460px) {
    .soulignement {
        font-size: 20px ;
    }
    .logo {
        margin-left: 0;
    }
}




