.titre_projects {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

.content_projects {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 40%;
    margin: 26px auto 0;
}

.boutons_projects {
    font-size: 32px;
    font-weight: 400;
    background-color: var(--dark-green-color);
    padding: 1px 43px;
    color: var(--white-color);
    text-decoration: none;
    margin: 26px;
}

.soulignement_projets {
    background-image: linear-gradient(to top, var(--dark-green-color) 40%, transparent 40%);
    display: inline;
    font-weight: 400;
}

.projets_page {
    display: flex;
    justify-content: center;
}

.projets_title_page, a {
    font-size: 24px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 64px;
    text-decoration: none;
    color: var(--black-color);
    text-align: center;
}

.grille_projets {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 projets par ligne */
    padding: 60px 100px; /* marges à gauche et droite */
}

.projets_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.projets_page:hover {
    transition: transform 0.2s ease;
    transform: translateY(-5px);
    box-shadow: 0 0 20px var(--dark-green-color);
}

.projet_content {
    display: flex;
    flex-direction: column;
    align-items: center; /* ✅ Centre l’image et le titre horizontalement */
}

.projet_img {
    display: block;
    margin: 0 auto; /* ✅ Centre l’image si elle n’est pas en flex */
    max-width: 100%; /* Bonus : s'assurer qu'elle reste responsive */
    height: auto;
}

.projet_template {
    margin-top: 90px;
}