.titre_projects {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    padding-top: 270.0px;
    margin-bottom: 0;
}

.content_projects {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 40%;
    margin: 26px auto 0;
}

.boutons_projects {
    font-size: 32px;
    font-weight: 400;
    background-color: var(--dark-green-color);
    padding: 1px 43px;
    color: var(--white-color);
    text-decoration: none;
    margin: 26px;
}

.soulignement_projets {
    background-image: linear-gradient(to top, var(--dark-green-color) 40%, transparent 40%);
    display: inline;
    font-weight: 400;
}
