/* TITRE PRINCIPAL DE LA PAGE */
.titre_par_projet {
    font-size: 2.25rem; /* équivalent à 36px */
    font-weight: 400;
    text-align: center;
    margin-top: 90px;
}

/* SOULIGNEMENT DANS LES TITRES */
.soulignement_projet {
    background-image: linear-gradient(to top, var(--light-green-color) 40%, transparent 40%);
    display: inline;
    font-weight: 400;
}

/* TITRE DE CHAQUE SECTION DE PROJET */
.titre_section_projet {
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 20px;
}

/* CONTENU TEXTE D'UN PROJET */
.projet_content {
    font-size: 1rem;
    font-weight: 400;
}

/* STRUCTURE GÉNÉRALE */
.projet_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

article:nth-of-type(odd) .projet_box {
    flex-direction: row-reverse;
}

/* IMAGE ET SON FOND */
.image_wrapper {
    position: relative;
    max-width: 100%;
    flex: 1 1 300px;
}

.image_projet_first {
    width: 100%;
    position: relative;
    z-index: 2;
    left: 255px;
    top: 10px;
    margin: 0 auto;
}

.projet_content_texte_first {
    width: 77%;
    margin-left: 48px;
    margin-top: 40px;
    margin-bottom: 0;
}

.image_projet {
    width: 100%;
    max-width: 375px;
    display: block;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    left: 210px;
}

.back_image_projet_first {
    position: absolute;
    top: -32px;
    left: 215px;
    width: 100%;
    max-width: 265px;
    height: auto;
    aspect-ratio: 306 / 248;
    background-color: var(--light-green-color);
    z-index: 1;
}

article:nth-of-type(odd) .image_projet {
    left: -145px;
}

article:nth-of-type(odd) .back_image_projet {
    left: 20px;
}

.back_image_projet {
    position: absolute;
    top: -32px;
    left: 215px;
    width: 100%;
    max-width: 306px;
    height: auto;
    aspect-ratio: 306 / 248;
    background-color: var(--light-green-color);
    z-index: 1;
}

/* TEXTE PROJET */
.projet_texte {
    flex: 1 1 300px;
    padding: 0 247px;
}

.projet_texte {
    flex: 1 1 300px;
    padding: 0 247px;
}

article:nth-of-type(odd).projet_texte {
    padding: 0 24px;
}

.projet_content_texte {
    width: 100%;
    max-width: 700px;
}

/* BOUTON */
.bouton_container_projet {
    display: flex;
    justify-content: center;
    width: 100%;
}

.lien_projet_container {
    text-align: center;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.lien_vers_projet {
    font-weight: 500;
    background-color: var(--dark-green-color);
    padding: 9.5px 52.5px;
    color: var(--white-color);
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 0 transparent;
    width: 15%;
    display: flex;
    align-items: center;
    margin: 26px auto;
}

.lien_vers_projet:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px var(--dark-green-color);
}

.lien_vers_github {
    margin-top: 10px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.lien_vers_github:hover {
    transform: scale(1.05);
    color: var(--green-color);
}

/* RESPONSIVE */

@media (max-width: 1400px) {
    .back_image_projet_first {
        top: -8px;
    }
}

@media (max-width: 1250px) {
    article:nth-of-type(2n+1) .back_image_projet {
        left: -22px;
    }

    .projet_content_texte {
        width: 107%;
    }

    article:nth-of-type(2n+1) .image_projet {
        left: -126px;
    }

    .image_projet_first {
        left: 255px;
        top: 10px;

    }
}

@media (max-width: 1240px) {
    .projet_content_texte_first {
        width: 102%;
    }

    .back_image_projet_first {
        top: -6px;
    }
}

@media (max-width: 1172px) {
    .back_image_projet_first {
        top: 16px;
    }
}

@media (max-width: 1112px) {
    .image_projet {
        margin: 0;
        left: 253px;
    }

    article:nth-of-type(2n+1) .image_projet {
        margin: 0;
        left: 255px;
    }
    article:nth-of-type(2n+1) .back_image_projet {
        left: 217px;
    }

    .image_projet_first {
        left: -144px;
        top: 50px;
    }

    .projet_content_texte_first {
        margin-left: 7px;
        margin-top: 60px;
    }
}

@media (max-width: 1042px) {
    .image_projet_first {
        left: -88px;
    }

    .back_image_projet_first {
        left: 208px;
    }
}



@media (max-width: 912px) {
    .image_projet_first {
        left: -52px;
    }

    .back_image_projet_first {
        left: 216px;
    }

    .projet_content_texte_first{
        margin-left: 4px;
    }
}


@media (max-width: 850px) {
    article:nth-of-type(2n+1) .back_image_projet {
        left: 36px;
    }

    .projet_texte {
        padding-left: 117px;
    }

    article:nth-of-type(2n+1) .image_projet {
        left: 66px;
    }

    .back_image_projet {
        left: 27px;
    }

    .image_projet {
        left: 66px;

    }
}

@media (max-width: 835px) {

    .back_image_projet_first {
        left: 109px;
    }

}

@media (max-width: 820px) {

    .back_image_projet_first {
        left: 146px;
    }

}


@media (max-width: 740px) {

    .projet_texte {
        padding-left: 63px;
        width: 150%;
    }

    .image_projet {
        width: 355px;

    }
}

@media (max-width: 710px) {

    .back_image_projet_first {
        left: 60px;
    }

    .projet_content_texte_first {
        width: 164%;
    }

}

@media (max-width: 606px) {
    .projet_content_texte {
        width: 170%;
    }
}

@media (max-width: 520px) {

    .back_image_projet_first {
        left: 50px;
    }

    .image_projet_first {
        left: 16px;
    }

    .projet_content_texte_first {
        width: 210%;
    }

}

@media (max-width: 480px) {
    .projet_content_texte {
        width: 227%;
    }

    .back_image_projet {
       max-width: 240px;
        top: -22px;
    }

    .image_projet {
        width: 300px;

    }
}

@media (max-width: 402px) {
    .projet_content_texte_first {
        width: 297%;
    }
}

